body {
  margin: 0;
  font-family: Arial;
  background: url("img/bg.jpg") center/cover fixed;
  color: #222;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

h1,
h2 {
  text-align: center;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 4px solid #3498db;
}

section {
  margin-top: 30px;
}

button {
  display: block;
  margin: auto;
  padding: 14px 25px;
  border: none;
  border-radius: 12px;
  background: #2ecc71;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.box {
  background: #f3f3f3;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
}

.media {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 15px;
}
